<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <a href="/randomsecrets" class="secrets_home"><h1 class="display-3" >Secrets</h1></a>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr style="height: 3px; background-color: #222831; margin: 2.25rem auto; width: 75%;">
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
